<div class='col-md-8 col-md-offset-2'>
  <div class='header'>
    Edit Customer Information
  </div>
  <%= form_for @customer do |f| %>
    <div class='customer'>
      <div class='input-field col s6'>
        <label for='Name'>Customer Name</label>
        <%= f.text_field :name %><br/>
      </div>
      <div class='input-field col s6'>
        <label for='Address'>Street Address</label>
        <%= f.text_field :street_address %><br/>
      </div>
      <div class='input-field col s6'>
        <label for='City'>City</label>
        <%= f.text_field :city %><br/>
      </div>
      <div class='input-field col s6'>
        <label for='State'>State</label>
        <%= f.text_field :state %><br/>
      </div>
      <div class='input-field col s6'>
        <label for='Zip Code'>Zip Code</label>
        <%= f.text_field :zip_code %><br/>
      </div>
      <div class='input-field col s6'>
        <label for='Work Phone Number'>Work Phone Number</label>
        <%= f.text_field :work_phone %><br/>
      </div>
      <%= link_to 'Cancel', customer_path %>
      <%= f.submit 'Save Changes' %>
    </div>

  <% end %>
</div>