<div class='col-md-8 col-md-offset-2'>
  <% @customers.each do |customer| %>
  <h1>
    <%= link_to customer.name, customer %>
  </h1>
    <div class='customer-index'>
      <p>
        <%= customer.street_address %></br>
        <%= customer.city %>, <%= customer.state %> <%= customer.zip_code %></br>
        <%= customer.work_phone %></br>
        <% if customer.primary_contact %>
          <%= customer.primary_contact.full_name %></br>
        <% end %>
      </p>
    </div>
  <% end %>
  <%= link_to 'New Customer', new_customer_path %>
</div>