<div class='col-md-8 col-md-offset-2'>
  <div class='row'>
    <div class='header'>
      Customers
    </div>
  </div>
  <div class='row'>
  <% @customers.each do |customer| %>
    <div class='card'>
      <div class='card-header'>
        <%= link_to customer.name, customer %>
      </div>
      <div class='card-block'>
        <%= customer.street_address %></br>
        <%= customer.city %>, <%= customer.state %> <%= customer.zip_code %></br>
        <%= customer.work_phone %></br>
        <% if customer.primary_contact %>
          <%= customer.primary_contact.full_name %></br>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
  <%= link_to 'New Customer', new_customer_path, class: 'button' %>
</div>