<div class='col-md-8 col-md-offset-2'>
  <div class='row'>
    <div class='header'>
      <%= @customer.name %>
    </div>
  </div>
  <div class='row customer'>
    <div class='col-md-8'>
      <div class='row'>
        Last Contact Date: <%= @customer.last_contact_date %></br>
        <%= @customer.street_address %></br>
        <%= @customer.city %>, <%= @customer.state %> <%= @customer.zip_code %></br>
        <%= @customer.work_phone %></br>
      </div>
      <div class='row'>
        <%= link_to edit_customer_path(@customer), class: 'button button-edit' do %>
          <i class='glyphicon glyphicon-pencil'></i>
        <% end %>
        <%= link_to customer_path(@customer), method: :delete, 
            :data => {:confirm => 'Are you sure you want to delete this Customer?'}, class: 'button button-delete' do %>
          <i class='glyphicon glyphicon-trash'></i> 
        <% end %>
      </div>
    </div>
    <div class='col-md-4 text-right'>
      <% if @customer.primary_contact %>
        <%= link_to @customer.primary_contact.full_name,
                customer_contact_path(@customer,@customer.primary_contact) %></br>
        <i><%= @customer.primary_contact.title %></i></br>
        <%= @customer.primary_contact.email_address %></br>
        <%= @customer.primary_contact.work_phone %></br>
      <% else %>
        <%= link_to 'Add Primary Contact', customer_contacts_path(@customer) %></br>
      <% end %>
      <%= link_to 'See All Contacts', customer_contacts_path(@customer)%>
    </div>
  </div>
  <div class='row'>
    <div class='card'>
      <% @feature_requests.each do |feature_request| %>
        <div class='row feature-request'>
          <div class='col-md-8'>
            <%= link_to feature_request.name, customer_feature_request_path(@customer,feature_request) %>
          </div>
          <div class='col-md-4 text-right'>
            Request Date: <%= feature_request.request_date %></br>
          </div>
        </div>
      <% end %>
      <div class='row div-new'>
        <div class='col-md-8'>
          <%= link_to 'New Feature Request', new_customer_feature_request_path(@customer), class: 'button' %>
        </div>
      </div>
    </div>
  </div>
</div>