<div>
  <%= form_for @contact, url: customer_contact_path(@contact) do |f| %>
    <div class='new-contact'>
      <h4>Edit Contact Information</h4>
      <div class='input-field col s6'>
        <label for='First Name'>First Name</label>
        <%= f.text_field :first_name %><br/>
      </div>
      <div class='input-field col s6'>
        <label for='Last Name'>Last Name</label>
        <%= f.text_field :last_name %><br/>
      </div>
      <div class='input-field col s6'>
        <label for='Title'>Title</label>
        <%= f.text_field :title %><br/>
      </div>
      <div class='input-field col s6'>
        <label for='Work Phone Number'>Work Phone Number</label>
        <%= f.text_field :work_phone %><br/>
      </div>
      <div class='input-field col s6'>
        <label for='E-mail Address'>E-mail Address</label>
        <%= f.email_field :email_address %><br/>
      </div>
      <%= link_to 'Cancel', customer_contact_path %>
      <%= f.submit 'Save Changes' %>
    </div>

  <% end %>
</div>