<div class='col-md-8 col-md-offset-2'>
  <div class='row'>
    <div class='header'>
      Contacts
    </div>
  </div>
  <% @contacts.each do |contact| %>
  <div class='row'>
    <div class='contact'>
      <h3><%= link_to contact.full_name, customer_contact_path(contact.customer,contact) %></h3>
      <p>
        <%= contact.title %></br>
        <%= contact.email_address %></br>
        <%= contact.work_phone %></br>
        <% if (!contact.is_primary) %>
          <%= form_for contact, :as => :contact,
              :url => customer_contact_path(contact.customer,contact) do |f| %>
            <%= f.hidden_field :is_primary, :value => true %></br>
            <%= f.submit 'Make Primary Contact' %>
          <% end %>
        <% end %>
      </p>
      <hr>
    </div>
  </div>
  <% end %>
  <%= link_to 'New Contact', new_customer_contact_path %>
</div>