<div class='col-md-8 col-md-offset-2'>
  <div class='row'>
    <div class='header'>
      <%= @contact.full_name %>
    </div>
  </div>
  <div class='row'>
    <div class='card'>
      <div class='card-header'>
        <%= link_to @contact.customer.name, customer_path(@contact.customer) %>
      </div>
      <div class='card-block'>
        <p>
          <strong><%= @contact.full_name %></strong><br>
          <i><%= @contact.title %></i></br>
          <%= link_to @contact.work_phone, "tel:#{@contact.work_phone}"%></br>
          <%= mail_to @contact.email_address %>
        </p>
        <p>
          <%= link_to edit_customer_contact_path(@customer,@contact), class: 'button button-edit' do %>
            <i class='glyphicon glyphicon-pencil'></i>
          <% end %>
          <%= link_to customer_contact_path(@customer,@contact), method: :delete, 
      :data => {:confirm => 'Are you sure you want to delete this Contact?'}, class: 'button button-delete' do %>
            <i class='glyphicon glyphicon-trash'></i> 
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>