<div class='col-md-8 col-md-offset-2'>
  <div class='row'>
    <div class='header'>
      Edit Feature Information
    </div>
  </div>
  <div class='row'>  
    <%= form_for @feature, :as => :feature, :url => customer_feature_request_feature_path(@customer,@feature_request,@feature) do |f| %>
      <div class='new-feature'>
        <div class='input-field for-group'>
          <label for='Name'>Name</label>
          <%= f.text_field :name, class: 'form-control' %><br/>
        </div>
        <div class='input-field for-group'>
          <label for='Bug Request'>Bug Request</label>
          <%= f.text_field :bug_request, class: 'form-control' %><br/>
        </div>
        <div class='input-field for-group'>
          <label for='Status'>Status</label>  
          <%= f.select :status, Feature.statuses.keys.to_a, class: 'form-control' %><br/>
        </div>
        <%= link_to 'Cancel', customer_feature_request_feature_path(@customer,@feature_request), class: 'button' %>
        <%= f.submit 'Save Changes', class: 'button' %>
      </div>
    <% end %>
  </div>
</div>