<div class='col-md-8 col-md-offset-2'>
  <div class='header'>
    Edit Contact Information
  </div>
  <%= form_for @feature_request, :as => :feature_request, :url => customer_feature_request_path(@customer,@feature_request) do |f| %>

    <div class='feature-request'>
      <div class='input-field col s6'>
        <label for='Name'>Name</label>
        <%= f.text_field :name %><br/>
      </div>
      <div class='input-field col s6'>
        <label for='Request Date'>Request Date</label>
        <%= f.date_field :request_date %><br/>
      </div>
      <div class='input-field col s6'>
        <label for='Request Contact'>Request Contact</label>
        <%= f.collection_select :contact_id, Contact.where(:customer_id => @customer.id), :id, :full_name, prompt: true %>
      </div>
      <div class='input-field col s6'>
        <label for='Customer Summary'>Customer Summary</label>
        <%= f.text_field :customer_summary %><br/>
      </div>
      <%= link_to 'Cancel', customer_feature_request_path %>
      <%= f.submit 'Save Changes' %>
    </div>

  <% end %>
</div>