<div class='col-md-8 col-md-offset-2'>
  <div class='row'>
    <div class='header'>
      Add New Feature Request
    </div>
    <strong>Customer</strong>: <%= link_to @customer.name, customer_path(@customer) %>
  </div>
  <div class='row'>
    <%= form_for [@customer, @feature_request] do |f| %>
      <div class='new-feature-request'>
        <div class='input-field for-group'>
          <label for='Name'>Name</label>
          <%= f.text_field :name, class: 'form-control' %><br/>
        </div>
        <div class='input-field for-group'>
          <label for='Request Date'>Request Date</label>
          <%= f.date_field :request_date, class: 'form-control' %><br/>
        </div>
        <% if @customer.contacts.length > 0 %>
          <div class='input-field for-group'>
            <label for='Request Contact'>Request Contact</label>
            <%= f.collection_select :contact_id, Contact.where(:customer_id => @customer.id), :id, :full_name, prompt: true %>
          </div>
        <% else %>
          <p>
            Feature Requests require a Customer Contact.<br />
            <%= link_to 'Add A New Contact', new_customer_contact_path(@customer) %>
          </p>
        <% end %>
        <div class='input-field for-group'>
          <label for='Customer Summary'>Customer Summary</label>
          <%= f.text_field :customer_summary, class: 'form-control' %><br/>
        </div>
        <%= link_to 'Cancel', customer_path(@customer), class: 'button' %>
        <%= f.submit 'Save Changes', class: 'button' %>
      </div>
    <% end %>
  </div>
</div>