<div>
  <div class="@feature_request">
    <h1><%= @feature_request.name %></h1>
    <h2><%= link_to @feature_request.customer.name, customer_path(@feature_request.customer) %></h2>
    <p>
      <%= @feature_request.request_date %></br>
      <%= link_to @feature_request.request_contact.full_name,
              customer_contact_path(@customer,@feature_request.request_contact) %></br>
      <%= @feature_request.customer_summary %>
    </p>
    <p>
      <%= link_to 'Edit Feature Request', edit_customer_feature_request_path(@customer,@feature_request) %></br>
      <%= link_to 'Delete Feature Request', customer_feature_request_path(@customer,@feature_request), method: :delete, 
        :data => {:confirm => 'Are you sure you want to delete this Feature Request?'} %>
    </p>
  </div>
</div>