<!DOCTYPE html>
<html>
  <head>
    <title>FareharborCrm</title>
    <%= csrf_meta_tags %>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css' integrity='sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd' crossorigin='anonymous'>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous'></script>
  </head>

  <body>
    <nav class='navbar navbar-default'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <%= link_to image_tag('https://fh-sites.imgix.net/sites/278/2016/10/05042712/fh-og-250.png', :class => 'logo'), root_path, :class => 'navbar-brand'%>
        </div>

        <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
          <ul class='nav navbar-nav'>
            <li><%= link_to 'Feature Requests', feature_requests_path %></li>
            <li><%= link_to 'Customers', customers_path %></li>
          </ul>
          <ul class='nav navbar-nav navbar-right'>
            <li><a href='#' data-toggle='modal' data-target='#fr-modal'>New Feature Request</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class='container'>
      <%= yield %>
    </div>

    <div class='modal fade' id='fr-modal' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true'>
      <div class='modal-dialog' role='document'>
        <div class='modal-content'>
          <%= form_for FeatureRequest.new do |f|%>
          <div class='modal-header'>
            <h5 class='modal-title' id='exampleModalLabel'>New Feature Request</h5>
            <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
              <span aria-hidden='true'>&times;</span>
            </button>
          </div>
          <div class='modal-body'>
            <div class='input-field for-group'>
              <label for='Customer'>Customer</label>
              <%= f.collection_select :customer_id, Customer.all, :id, :name, prompt: true %>
            </div>
          </div>

          <div class='modal-footer'>
            <button type='button' class='button' data-dismiss='modal'>Close</button>
            <%= f.submit 'Save Changes', class: 'button' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

  </body>
</html>
